.header{
    background: #3b5998;
    width: 100%;
    height: 85px;
}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 50%;
    padding-top: 35px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 190px;
   
}
.logincolor{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
.login-controls{
    margin-top: 10px;
    margin-left: 115px;

}
.loginb{
    color: #fff;
    background-color: #4267b2;
    border-color: #29487d;
    height: 20px;
    font-size: small;
    cursor: pointer;
    border-style: ridge;
    border-width: 2px;
}
.loginb:hover{
    background-color: #29487d;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 134px;
}
.right-section{
    width: 39%;
    float: left;
}
.main-body{
  background: #f1f1f1;
  height: 475px;
  width: 100%;
}
.img{
    margin-left: 0px;
    margin-top: 50px;
    width: 550px;
}
.para{
    margin-left: 57px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: large;
}
.form{
    background: #fff;
    color: #1c1e21;
    width: 410px;
    height: 420px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: block;
    margin-top: 25px;
    padding-top: 30px;
    line-height: 1;
}
.form-head{
    text-align: center;
    font-weight: bold;
    font-size: 25px; 
}
.form-head1{
    text-align: center;
    
}
.form2{
    margin: 20px;
}
.form3{
    width: 40%;
    height: 30px;
    padding-left: 10px;
    border-radius: 6px;
    border-style: ridge;
    border-width: 1px;
    margin: 10px 10px 5px 10px;
    

}
.form4{
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border-radius: 6px;
    border-style: ridge;
    border-width: 1px;
    margin: 5px 10px 5px 10px;
    
}
.form5{
    margin: 5px 10px 5px 10px;
    font-size: small;
}
.form6{
    margin: 5px 10px 5px 10px;
    width: 27%;
    height: 30px;
    padding-left: 10px;
    border-radius: 6px;
    border-style: ridge;
    border-width: 1px;
}
.form7{
    width: 10%;
    height: 30px;
    padding-left: 10px;
    border-radius: 6px;
    border-style: ridge;
    border-width: 1px;
}
.span1{
    margin: 10px 10px 10px 10px;
    width: 30%;
    height: 0;
    padding-left: 22px;
    border-radius: 6px;
    border-style: ridge;
    border-width: 2px;
    line-height: 0;
}
.span2{
    margin: 5px 10px 5px 10px;
    width: 27%;
    height: 40px;
    padding-left: 10px;
    border-radius: 6px;
    border-style: ridge;
    border-width: 1px;
}
.submitb{
    width: 125px;
    height: 35px;
    margin-left: 115px;
    margin-top: 10%;
    color: white;
    background-color: #00a400;
    border-radius: 6px;
    overflow: hidden;
    border-width: 0;
    text-decoration: solid 20;
    font-family: SFProDisplay-Bold, Helvetica, Arial;
    font-weight: bold;
    font-size: large;
    align-self: center;
}
.formg{
    margin: 5px 10px 5px 10px;
    width: 10%;
    height: 30px;
    padding-left: 10px;
    border-radius: 6px;
    border-style: ridge;
    border-width: 1px;
}